body{
        background-color: #dfcccc;

}

.mainImg{
  margin: auto;
  width: 100%;
  padding-top: 20px;
}

h2{
    padding-top: 20px;
    text-align: center;
      font-family: 'Suez One', serif;
}

.toyImg{
height: 20%;
align-content: center;
}

.card{
    text-align: center;
    border-radius: 15;
    height: 400px;
    width: 250px;
}

